name: Build Exports

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  export:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    name: Export All Platforms
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Export game
        id: export
        uses: firebelley/godot-export@v7.0.0
        with:
          godot_executable_download_url: https://github.com/godotengine/godot/releases/download/4.6-stable/Godot_v4.6-stable_linux.x86_64.zip
          godot_export_templates_download_url: https://github.com/godotengine/godot/releases/download/4.6-stable/Godot_v4.6-stable_export_templates.tpz
          relative_project_path: ./
          archive_output: true
          cache: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload macOS build
        uses: actions/upload-artifact@v4
        with:
          name: macos
          path: /home/runner/.local/share/godot/archives/macOS.zip

      - name: Upload Windows build
        uses: actions/upload-artifact@v4
        with:
          name: windows
          path: /home/runner/.local/share/godot/archives/Windows Desktop.zip

      - name: Upload Linux build
        uses: actions/upload-artifact@v4
        with:
          name: linux
          path: /home/runner/.local/share/godot/archives/Linux.zip

      - name: Upload Web build
        uses: actions/upload-artifact@v4
        with:
          name: web
          path: /home/runner/.local/share/godot/archives/Web.zip
